@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Source Sans 3", sans-serif;
}

.link {
  text-decoration: none;
}
.map-cont {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: url(./components/map/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.map-cont iframe {
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
