.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.login-wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}
.login-wrapper h1 {
  font-size: 36px;
  text-align: center;
}
.login-wrapper .login-input-box {
  position: relative;
  width: 100%;
  height: 50px;

  margin: 30px 0;
}
#login-head {
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 20px;
}
.login-input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.login-input-box input::placeholder {
  color: #fff;
}
.login-input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}
.login-wrapper .login-remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.login-remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.login-remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.login-remember-forgot a:hover {
  text-decoration: underline;
}
.login-wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  font-weight: 600;
}
.login-wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.login-register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.login-register-link p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .login-wrapper {
    margin: 15px;
  }
}
